<% if log_in? %>
  <div class="content">
    <div class="col-md-12">
      <ol class="microposts">
        <span id="form-comment">
          <%= form_for [post, comment_new] do |f| %>
            <%= f.hidden_field :parent_id, value: parent_id %>
            <%= f.hidden_field :post_id, value: post.id %>
            <%= f.hidden_field :user_id, value: current_user.id %>
            <%= f.text_area :content, placeholder: t("text.content"),
              required: true, class: "form-control" %>
            <%= f.submit t("button_labels.comment"), class: "btn btn-xs btn-custom2" %>
          <% end %>
        </span>
      </ol>
    </div>
  </div>
<% end %>
