<div class="dropdown-messages-box">
  <div class="profile-userpic">
    <%= image_tag notification.target.avatar , class: "pull-left" %>
  </div>
  <div class="message-body">
    <small class="pull-right"><%= time_ago_in_words(notification.created_at)%></small>
    <strong>
      <%= link_to notification.target_name, user_path(notification.target_id) %>
    </strong>
    <%= notification.target_type %>
    <% if notification.opened_at == nil %>
      <% if admin_user %>
        <strong><%= link_to notification.des.name, user_path(notification.des.id, notification_id: notification.id)%></strong>
      <% else %>
        <strong>your
          <%= link_to notification.des_type, post_path(notification.url, notification_id: notification.id) %>
        </strong>.
      <% end %>
    <% else %>
      <% if admin_user %>
        <% if (notification.target_type == "Followed") or (notification.target_type == "UnFollowed") %>
          of <%= link_to notification.des_type, user_path(notification.url, notification_id: notification.id) %>
          <% else %>
          of <%= link_to notification.des_type, post_path(notification.url, notification_id: notification.id) %>
        <% end %>
        <%= link_to notification.des.name, user_path(notification.des_id) %>
      <% else %>
        <% if (notification.target_type == "Followed") or (notification.target_type == "UnFollowed") %>
          your <%= link_to notification.des_type, user_path(notification.url, notification_id: notification.id) %>
        <% else %>
          your <%= link_to notification.des_type, post_path(notification.url, notification_id: notification.id) %>
        <% end %>
      <% end %>
    <% end %>
    <br />
    <small class="text-muted"><%= notification.created_at %></small>
  </div>
</div>
