<%= render "shared/left"%>
<div class="panel panel-container">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-body tabs">
          <ul class="nav nav-tabs">
            <li class="active"><%= link_to "User Managerment", "#User_management", data: { toggle: "tab"} %></li>
            <li><%= link_to "User Decentralization", "#User_decentralization", data: { toggle: "tab"} %></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane fade in active" id="User_management">
            <strong><h1>USER MANAGERMENT</h1></strong>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Avatar</th>
                  <th>Name</th>
                  <th>Email</th>
                  <th>User Type</th>
                  <th>Active</th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <% @users.each do |user| %>
                <tr>
                  <td>
                    <div class="profile-userpic">
                      <%= image_tag @current_user.avatar  %>
                    </div>
                  </td>
                  <td><%= link_to user.name , user_path(user) %></td>
                  <td><%= user.email %></td>
                  <td>
                    <div class="form-group">
                      <select class="form-control">
                        <option selected="selected"> <%#= Decentralization.find_by(id: user[:user_type]) %> </option>
                        <%= @decentralizations.each do |f|%>
                          <option><%= f.name %></option>
                        <% end %>
                      </select>
                  </div>
                  </td>
                  <td></td>
                  <td><%#= link_to t("button_labels.edit"), edit_user_path(user) %></td>
                  <td><%= link_to t("button_labels.delete") , user, method: :delete, data: {confirm: t("text.confirm")} %></td>
                </tr>
              <% end %>
              </tbody>
            </table>
            </div>
            <div class="tab-pane fade" id="User_decentralization">
              <%= render "decentralizations/index"%>
              <%= render "decentralizations/edit" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
