<div class="row">
  <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
    <div class="login-panel panel panel-default">
      <div class="panel-heading">Sign Up</div>
      <div class="panel-body">
        <%= form_for @user, url: sign_up_path do |f| %>
          <%= render "shared/error_messages" %>
          <fieldset>
            <div class="form-group">
              <%= f.label :name %>
              <%= f.text_field :name, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :email %>
              <%= f.text_field :email, class: "form-control",placeholder: "E-mail", type: "email" %>
            </div>
            <div class="form-group">
              <%= f.label :password %>
              <%= f.text_field :password, class: "form-control", placeholder: "Password",type: "password" %>
            </div>
            <div class="form-group">
              <%= f.label :password_confirmation %>
              <%= f.text_field :password_confirmation, class: "form-control", placeholder: "Password", type: "password" %>
            </div>
            <%= f.submit t("button_labels.sign_in"), class: "btn btn-primary" %>
            <p> You had acount <%= link_to t("button_labels.sign_in") , signin_path %> </p>
            </fieldset>
        <% end %>
      </div>
    </div>
  </div>
</div>


