<%= render "shared/left"%>
<div class="panel panel-container">
  <div class="row">
    <div class="col-md-12">
    <% if @user.status == 4 %>
      <div class="panel panel-warning">
        <div class="panel-heading"><strong style="color: black">Warning</strong>
          <span class="pull-right clickable panel-toggle"><em class="fa fa-toggle-up"></em></span></div>
        <div class="panel-body">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ut ante in sapien blandit luctus sed ut lacus. Phasellus urna est, faucibus nec ultrices placerat, feugiat et ligula. Donec vestibulum magna a dui pharetra molestie. Fusce et dui urna.</p>
          <% if @current_user == @user %>
            <%= link_to "Lien he voi admin" , "#"%>
          <% end %>
        </div>
      </div>
    <% else %>
      <div class="panel panel-default">
        <div class="panel-body tabs">
          <ul class="nav nav-tabs">
            <li class="active"><%= link_to "Timeline", "#Timeline", data: { toggle: "tab"} %></li>
            <li><%= link_to "About", "#About", data: { toggle: "tab"} %></li>
            <li><%= link_to "Friends", "#Friends", data: { toggle: "tab"} %></li>
            <li><%= link_to "Photos", "#Photos", data: { toggle: "tab"} %></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane fade in active" id="Timeline">
              <div class="row">
                <div class="col-sm-4">
                  <%= render "users/left" %>
                  <%= render 'shared/stats' %>
                </div>
                <div class="col-sm-8">
                <%= render "posts/index", posts: @posts%>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="About">
              <div class="row">
                <div class="col-sm-4">
                  <%= render "users/left" %>
                  <%= render "users/select" %>
                  <%= render "users/edit" %>
                </div>
                <div class="col-sm-8">
                <%= render "users/right"%>
                </div>
              </div>
              <%#= link_to t("button_labels.edit"), edit_user_path(@user) %>
            </div>
            <div class="tab-pane fade" id="Friends">
              <h1>All Friends</h1>
            <%= render @users %>
            </div>
            <div class="tab-pane fade" id="Photos">
            </div>
        </div>
      </div><!--/.panel-->
    <% end %>
    </div>
  </div>
</div>
<%= render "reports/new", obj: @user, user_id: @user.id%>
<%= render "upload_avatar", user: @user%>
<div class="modal fade" id="follow" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <%= render "show_following" %>
</div>
<div class="modal fade" id="follower" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <%= render "show_follower" %>
</div>
