<%= render "shared/left"%>
<div class="panel panel-container">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-body tabs">
          <ul class="nav nav-tabs">
            <li class="active"><%= link_to "Timeline", "#Timeline", data: { toggle: "tab"} %></li>
            <li><%= link_to "About", "#About", data: { toggle: "tab"} %></li>
            <li><%= link_to "Friends", "#Friends", data: { toggle: "tab"} %></li>
            <li><%= link_to "Photos", "#Photos", data: { toggle: "tab"} %></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane fade in active" id="Timeline">
              <div class="row">
                <div class="col-sm-4">
                  <%= render "users/left" %>
                </div>
                <div class="col-sm-8">
                <%= render "posts/index", posts: @posts%>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="About">
              <div class="row">
                <div class="col-sm-4">
                  <%= render "users/left" %>
                </div>
                <div class="col-sm-8">
                <%= render "users/right"%>
                </div>
              </div>
              <%#= link_to t("button_labels.edit"), edit_user_path(@user) %>
            </div>
            <div class="tab-pane fade" id="Friends">
              <h1>ALL FRIENDS</h1>
              <div class="row">
                <%= render @users %>
              </div>
            </div>
            <div class="tab-pane fade" id="Photos">
            </div>
        </div>
      </div><!--/.panel-->
    </div>
  </div>
</div>
<%= render "reports/new", obj: @user, user_id: @user.id%>
