<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
  <div class="profile-sidebar">
    <% if @current_user.avatar.attached? %>
      <div class="profile-userpic">
        <%= image_tag @current_user.avatar  %>
      </div>
    <% else %>
      <div class="profile-userpic">
        <%= image_tag "" %>
      </div>
    <% end %>
    <%= hidden_field :id, @current_user.id , id: "user_id" %>
    <div class="profile-usertitle-name"><%=@current_user.name%></div>
    <div class="profile-usertitle-status"><span class="indicator label-success"></span>Online</div>
    <div class="clear"></div>
  </div>
  <div class="divider"></div>
  <form role="search">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Search">
    </div>
  </form>
  <ul class="nav menu">
    <li class="active">
      <%= link_to  t("button_labels.home") , root_path %>
    </li>
    <li>
      <%= link_to  t("button_labels.profile") , user_path(@current_user) %>
    </li>
    <li>
      <%= link_to t("button_labels.create_post "), new_post_path %>
    </li>
    <li>
      <%= link_to  t("button_labels.notify") , notifications_path %>
    </li>
    <li>
      <%= link_to "Activity Log", "#" %>
    </li>
    <% if admin_user %>
      <li class="parent "><a data-toggle="collapse" href="#sub-item-1">
        <em class="fa fa-navicon">&nbsp;</em> Setting <span data-toggle="collapse" href="#sub-item-1" class="icon pull-right"><em class="fa fa-plus"></em></span>
        </a>
        <ul class="children collapse" id="sub-item-1">
          <li>
            <%= link_to "User management", users_path%>
          </li>
          <li>
            <%= link_to "Log Management", "#" %>
          </li>
          <li>
            <%= link_to "Other Management", "#" %>
          </li>
        </ul>
      </li>
    <% end %>
    <li>
      <%= link_to t("button_labels.log_out"), sign_in_path %>
    </li>
  </ul>
</div><!--/.sidebar-->
