<section class="articles-area section-padding-0-100">
  <div class="container">
    <div class="row justify-content-center">
      <%= form_for @post do |f| %>
        <%= render "shared/error_post_messages",object: f.object %>
        <div class="field">
          <%= f.text_field :title, placeholder: "title..." , class: "form_control" %>
          <%= f.text_area :content, placeholder: "content..." , class: "form_control" %>
          <%= f.select :post_type_id, @post_types, {}, class: "ui fluid  selection dropdown" %>
          <%= f.submit "Save", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</section>
