<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
    <div class="profile-sidebar">
      <% if @current_user.avatar.attached? %>
        <div class="profile-userpic">
          <%= image_tag @current_user.avatar  %>
        </div>
      <% else %>
        <div class="profile-userpic">
          <%= image_tag "" %>
        </div>
      <% end %>
      <div class="profile-usertitle">
        <div class="profile-usertitle-name"><%= @current_user.name %></div>
        <div class="profile-usertitle-status"><span class="indicator label-success"></span>Online</div>
      </div>
      <div class="clear"></div>
    </div>
    <div class="divider"></div>
    <form role="search">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search">
      </div>
    </form>
    <ul class="nav menu">
      <li class="active"><%= link_to  "Home" , root_path %> </li>
      <li><%= link_to  "Profile" , user_path(@current_user) %></li>
      <li><%= link_to  "List Friends" , users_path %></li>
      <li><%= link_to  "Notications" , root_path %></li>
      <li class="parent "><%= link_to "Setting" , "#" %></li>
        <ul class="children collapse" id="sub-item-1">
          <li><a class="" href="#">
            <span class="fa fa-arrow-right">&nbsp;</span> Sub Item 1
          </a></li>
          <li><a class="" href="#">
            <span class="fa fa-arrow-right">&nbsp;</span> Sub Item 2
          </a></li>
          <li><a class="" href="#">
            <span class="fa fa-arrow-right">&nbsp;</span> Sub Item 3
          </a></li>
        </ul>
      </li>
      <li><em></em> <%= link_to "Logout", sign_in_path %></li>
    </ul>
  </div>
