<div class="modal fade" id="postType" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <%= form_with model: [:admin, post_type], local: true do |f| %>
            <div class="form-group">
              <%= f.label :name %>
              <%= f.text_field :name %>
            </div>
          <%= f.submit t("button_labels.create"), class: "btn" %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><%= t("button_labels.close")%></button>
      </div>
    </div>
  </div>
</div>
