<div class="panel panel-container">
  <div class="row">
    <div class="col-xs-6 col-md-3 col-lg-3 no-padding">
      <div class="panel panel-teal panel-widget border-right">
        <div class="row no-padding"><em class="fa fa-xl fa-comments color-blue"></em>
          <%= render "admin/homes/new_noti", temp: @support.post_day.size, router: admin_posts_path, name: "New Posts in Day" %>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-md-3 col-lg-3 no-padding">
      <div class="panel panel-orange panel-widget border-right">
        <div class="row no-padding"><em class="fa fa-xl fa-users color-orange"></em>
          <%= render "admin/homes/new_noti", temp: @support.user_day.size, router: admin_users_path, name: "New Users in Day" %>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-md-3 col-lg-3 no-padding">
      <div class="panel panel-red panel-widget border-right">
        <div class="row no-padding"><em class="fa fa-xl fa-bolt color-red"></em>
          <%= render "admin/homes/new_noti", temp: @support.report_day.size, router: admin_reports_path, name: "New Reports in Day" %>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-md-3 col-lg-3 no-padding">
      <div class="panel panel-black panel-widget">
        <div class="row no-padding"><em class="fa fa-xl fa-search color-teal"></em>
          <%= render "admin/homes/new_noti", temp: "29.09K", router: admin_reports_path, name: "New Posts in Day"%>
        </div>
      </div>
    </div>
  </div>
  <%= render "admin/homes/post_overview", post_year: @support.post_month%>
  <div class="row justify-content-md-center">
    <div class="col-md-12">
      <div class="panel-heading">
        Table Posts Overview
      </div>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>#</th>
            <th>Type Post</th>
            <th>Count Post</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td><%= link_to "View details" , "#"%></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <%#= pie_chart @users.group(:user_type).count %>
</div>
