<% if log_in? %>
  <%= render "shared/right" %>
  <%= link_to t("button_labels.create "), new_post_path, class: "btn btn-primary" %>
  <%= render "posts/index" %>
<% else %>
  <h1>
    <%= link_to t("button_labels.sign_in") , sign_in_path %>
    <%= t("text.text1")%>
  </h1>
<% end %>
