<% if log_in? %>
  <%= render "shared/left" %>
  <div class="panel panel-container">
    <div class="nav navbar-top-links navbar-left">
      <%= search_form_for @q, url: root_path do |f| %>
        <%= f.label :Search_posts, t("text.search_posts")%>
        <%= f.search_field :title_or_content_or_user_name_or_post_type_name_cont %>
      <% end %>
    </div>
    <br>
    <div class="row">
      <div class="col-md-11">
        <ol class="microposts">
          <% if params[:post_type_id] %>
            <%= render @q.page(params[:page]).per(5), button_text: t("button_labels.read_more") %>
          <% else %>
            <%= render @posts.page(params[:page]).per(5), button_text: t("button_labels.read_more") %>
          <% end %>
        </ol>
      </div>
    </div>
  </div>
<% else %>
  <div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
    <img src="https://d25tv1xepz39hi.cloudfront.net/2016-01-31/files/1045-3.jpg" alt="Chicago" width="220px" height="600px">
  </div>
  <div class="panel panel-container">
    <div class="row">
      <div class="col-md-11">
        <%= render "posts/index", posts: @post_publics %>
      </div>
    </div>
  </div>
<% end %>
