<% if log_in? %>
  <%= render "shared/left" %>
  <div class="panel panel-container">
      <div class="nav navbar-top-links navbar-left">
        <%= search_form_for @support.search_post(params[:q]) , url: root_path do |f| %>
          <%= f.label :Search_posts %>
          <%= f.search_field :title_or_content_or_user_name_or_post_type_name_cont %>
        <% end %>
      </div>
    <div class="row">
      <div class="col-md-12">
        <% if params[:post_type_id] %>
          <%= render @support.posts_types(params[:post_type_id]).page(params[:page]).per(5), button_text: "View mores"%>
        <% else %>
          <%= render @posts.page(params[:page]).per(5), button_text: "View mores"%>
        <% end %>
      </div>
    </div>
  </div>
<% else %>
  <div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
    <img src="https://d25tv1xepz39hi.cloudfront.net/2016-01-31/files/1045-3.jpg" alt="Chicago" width="220px" height="600px">
  </div>
  <%= render "posts/index", posts: @post_publics %>
<% end %>
