<%= render "shared/left"%>
<%= render "shared/show_noti" %>
<div class="panel panel-container">
  <div class="row">
    <div class="col-xs-2 col-xs-offset-1 col-sm-2 col-sm-offset-2 col-md-8 col-md-offset-2">
      <div class="login-panel panel panel-default">
        <div class="panel-heading"><%= header %></div>
        <div class="panel-body">
          <%= form_with model: post do |f| %>
            <fieldset>
              <div class="form-group">
                <%= f.label :title, t("activerecord.attributes.title") %>
                <%= f.text_field :title, placeholder: title , class: "form_control" %>
              </div>
              <div class="form-group">
                <%= f.label :post_type_id, t("activerecord.attributes.post_type") %>
                <%= f.select :post_type_id, support.post_types, {}, class: "form-control", id: "sel1" %>
              </div>
              <div class="form-group">
                <%= f.label :content, t("activerecord.attributes.content")%>
                <%= f.text_area :content,placeholder: post.content, class: "tinymce", rows: 10, cols: 10 %>
              </div>
              <div class="form-group">
                <%= f.label :status, t("activerecord.attributes.status") %>
                <%= f.select :status, options_for_select([["Public", :public],["Private", :private], ["Only me", :only_me]]), {}, class: "form-control", id: "sel1" %>
              </div>
              <%= f.submit button_text, class: "btn btn-primary" %>
              <%= link_to t("button_labels.previous"), root_path, class: "btn btn-primary" %>
              </fieldset>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

