<div class="col-md-3">
  <div>
    <% if user.avatar.attached? %>
      <%= image_tag user.avatar, class: "img-circle, imagefriend"%>
    <% else %>
      <%= image_tag " ", class: "img-circle, profile-userpic, imagefriend"%>
    <% end %>
    <div class="profile-usertitle-name"><%=link_to user.name, admin_user_path(user)%></div>
    <% if user.status == "online" %>
      <div class="profile-usertitle-status">
        <span class="indicator label-success"></span><%= t("text.online")%>
      </div>
    <% elsif  user.status == "offline" %>
      <div class="profile-usertitle-status">
        <span class="badge"></span><%= t("text.offline")%>
      </div>
    <% elsif  user.status == "unactived" %>
      <div class="profile-usertitle-status">
        <span class="badge"></span><%= t("text.unactive_email")%>
      </div>
    <% elsif  user.status == "blocked" %>
      <div class="profile-usertitle-status">
        <span class="badge"></span><%= t("text.blocked")%>
      </div>
    <% end %>
    <div class="clear"></div>
  </div>
</div>
