<div class="panel panel-container">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-body tabs">
          <ul class="nav nav-tabs">
            <li class="active"><%= link_to "User Managerment", "#User_management", data: { toggle: "tab"} %></li>
            <li><%= link_to "User Decentralization", "#User_decentralization", data: { toggle: "tab"} %></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane fade in active" id="User_management">
            <strong><h1>USER MANAGERMENT</h1></strong>
            <%= form_tag(admin_users_path, method: :get, id: "search-form", role: "search") do %>
              <%= text_field_tag :search, params[:search], placeholder: "Search Users", class: "form-control mr-sm-2" %>
            <% end %>
            <%= link_to "DOWNLOAD PDF", admin_users_path(format: :pdf), class: "btn" %>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Avatar</th>
                  <th>Name</th>
                  <th>Email</th>
                  <th>User Type</th>
                  <th>Status</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <% @support.users_index.each do |user| %>
                <tr>
                  <td>
                    <div class="profile-userpic">
                      <%= image_tag user.avatar  %>
                    </div>
                  </td>
                  <td><%= link_to user.name , admin_user_path(user) %><hr>Created <%= time_ago_in_words(user.created_at) %>.</td>
                  <td><%= user.email %></td>
                  <td>
                      <%= form_for [:admin, user], method: :patch do |f| %>
                      <div class="form-group">
                          <%= f.select :user_type, options_for_select([[user.user_type, user.user_type],["Admin", :admin],["User", :user]]), {}, class: "form-control", id: "sel1" %>
                        </div>
                        <%= f.submit "Save" %>
                      <% end %>
                  </td>
                  <td>
                    <% if user.status == "online" %>
                      <div class="profile-usertitle-status">
                        <span class="indicator label-success"></span>Online
                      </div>
                    <% elsif  user.status == "offline" %>
                      <div class="profile-usertitle-status">
                        <span class="badge"></span>Offline
                      </div>
                    <% elsif  user.status == "unactived" %>
                      <div class="profile-usertitle-status">
                        <span class="badge"></span>Chua xac nhan email
                      </div>
                    <% elsif  user.status == "blocked" %>
                      <div class="profile-usertitle-status">
                        <span class="badge"></span>Blocked
                      </div>
                    <% end %>
                  </td>
                  <td>
                  <% if user.status == "blocked" %>
                    <%= form_for [:admin, user] do |f| %>
                      <%= f.hidden_field :status, value: :offline %>
                      <%= f.submit "UnBlock", class: "btn btn-warning", data: {confirm: t("text.confirm")} %>
                    <% end %>
                  <% else %>
                    <%= form_for [:admin, user] do |f| %>
                      <%= f.hidden_field :status, value: :blocked %>
                      <%= f.submit "Block", class: "btn btn-danger", data: {confirm: t("text.confirm")} %>
                    <% end %>
                  <% end %>
                  </td>
                </tr>
              <% end %>
              </tbody>
            </table>
            </div>
            <div class="tab-pane fade" id="User_decentralization">
              <%= render "admin/decentralizations/index"%>
              <%= render "admin/decentralizations/edit" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
