<div class="panel panel-container">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-body tabs">
          <ul class="nav nav-tabs">
            <li class="active"><%= link_to t("text.time_line"), "#Timeline", data: { toggle: "tab"} %></li>
            <li><%= link_to t("text.about"), "#About", data: { toggle: "tab"} %></li>
            <li><%= link_to t("text.friend"), "#Friends", data: { toggle: "tab"} %></li>
            <li><%= link_to t("text.photo"), "#Photos", data: { toggle: "tab"} %></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane fade in active" id="Timeline">
              <div class="row">
                <div class="col-sm-4">
                  <%= render "admin/users/left" %>
                  <%= render 'shared/stats' %>
                </div>
                <div class="col-sm-8">
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th><%= t("users.activerecord.attributes.account")%></th>
                        <th><%= t("activerecord.attributes.title")%></th>
                        <th><%= t("activerecord.attributes.content")%></th>
                        <th><%= t("activerecord.attributes.post_type")%></th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <%= render @support.posts(@user, current_admin).page(params[:page]).per(2) %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="About">
              <div class="row">
                <div class="col-sm-4">
                  <%= render "admin/users/left" %>
                </div>
                <div class="col-sm-8">
                <%= render "admin/users/right"%>
                </div>
              </div>
              <%#= link_to t("button_labels.edit"), edit_user_path(@user) %>
            </div>
            <div class="tab-pane fade" id="Friends">
              <h1><%= t("button_labels.list")%></h1>
            <%= render @support.users(@user) %>
            </div>
            <div class="tab-pane fade" id="Photos">
            </div>
        </div>
      </div><!--/.panel-->
    </div>
  </div>
</div>
<div class="modal fade" id="follow" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <%= render "admin/users/show_following" %>
</div>
<div class="modal fade" id="follower" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <%= render "admin/users/show_follower" %>
</div>
